form {
  width: 100%;
}

form .form-group {
  margin: 10px 0;
}

form p {
  color: var(--black);
  margin-bottom: 5px;
}

form input {
  width: 100%;
  height: 52px;
  text-indent: 10px;
  border-radius: var(--radius-10);
  border: 1px solid var(--default-bg);
}
