@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --radius-14: 14px;
}

body {
  width: 100vw;
}

button {
  cursor: pointer;
}
