@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --default-bg: #1c1c1c;
  --modal-transparent: #000000cc;
  --modal-bg: #f7ffc7;

  --radius-14: 14px;
  --radius-10: 10px;
}

body {
  background-color: var(--default-bg);
  max-width: 100vw;
  height: 100vh;
}

main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* cards container */

.cards-container {
  padding: 48px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  gap: 40px;
}

/* empty cards container */

.cards-container-empty {
  height: calc(100vh - 100px);
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.cards-container-empty p {
  color: var(--white);
}
